global
    maxconn 10000
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    retries 3
    timeout connect 10s
    timeout client 30m
    timeout server 30m

frontend postgres-master
    bind *:5000
    default_backend postgres-master-backend

frontend postgres-replica
    bind *:5001
    default_backend postgres-replica-backend

backend postgres-master-backend
    option pgsql-check user admin
    server postgres-1 postgres-1:5432 check
    server postgres-2 postgres-2:5432 check backup
    server postgres-3 postgres-3:5432 check backup

backend postgres-replica-backend
    balance roundrobin
    option pgsql-check user admin
    server postgres-1 postgres-1:5432 check
    server postgres-2 postgres-2:5432 check
    server postgres-3 postgres-3:5432 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin123
